<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<h1>Node.JS + Socket.IO + Redis + Python</h1>
	<p>
	 <ul>
     <li><a href="/python">Python (proxied by Node.JS)</a></li>
     <li><a href="/notifications">Notifications</a></li>
	 </ul>
	</p>
</body>
</html>
