<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Express</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

	<h1>User's notifications</h1>

	<!-- ================================================== -->
	<!-- == JavaScripts -->
	<!-- ================================================== -->

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
    //
    // Retrieves the uuidCookie using Ajax
    //
    var retrieveUuidCookie = function(socket) {
      return function() {
        console.log('Socket.IO connected');

        $
            .ajax({
              type : "GET",
              url : "/python",
            })
            .done(
                function(msg) {
                  if (msg.ok === true) {
                    console.log("UUID-Cookie received from server using AJAX: "
                        + msg.uuidCookie);

                    // 2. Use that UUID to subscribe to events
                    console.log('uuidCookie: ' + msg.uuidCookie);
                    socket.emit('subscribe-to-notifications', {
                      uuid : msg.uuidCookie
                    });

                  } else {
                    console
                        .log("Error: the server didn't provide a valid UUID-Cookie");
                  }
                });

      }
    };

    $(document).ready(function() {
      var socket = io.connect('http://localhost:3000/io/user/notifications');

      socket.on('notification', function(data) {
        console.log('Notification received: ' + data);
        console.log(' - Message from app: ' + data.message);
      });

      socket.on('internal', function(data) {
        console.log('Internal message received from server: ' + data);
        if (data.type === 'error') {
          console.log('Error report received from server: ' + data);
          console.log(' - Code: ' + data.code);
          console.log(' - Message: ' + data.message);
        } else if (data.type === 'success') {
          console.log(' - Success: ' + data.message);
        } else {
          console.log('Unknown internal message type');
        }
      });

      socket.on('connect', retrieveUuidCookie(socket));
    });
  </script>
</body>
</html>
