{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <div>
      <small>Welcome, <strong>{{ user.username }}</strong>!
      &nbsp;-&nbsp;
      <a href="/logout">Logout</a></small>
    </div>
    {% else %}
		<h4>Login</h4>
		<p>
		<form class="form-inline" role="form" action="." method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="sr-only" for="usernameTextbox">Username</label> <input
					type="text" class="form-control" id="usernameTextbox"
					placeholder="username" name="username">
			</div>
			<div class="form-group">
				<label class="sr-only" for="passwordBox">Password</label> <input
					type="password" class="form-control" id="passwordBox"
					placeholder="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
		</p>
    {% endif %}

		<h4>Quick links</h4>
		<p>
		<ul>
			<li><a href="/python/uuidCookie/">Get a uuidCookie (access
					the <strong>Python</strong> app)
			</a></li>
			<li><a href="/python/notifications/">Notifications test</a></li>
		</ul>
		</p>

{% endblock content %}
