<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Node.JS + Socket.IO + Redis + Python</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">

    <em>The Django app is a WIP.</em>

		<h1>Node.JS + Socket.IO + Redis + Python</h1>
		<p>
		<ul>
			<li><a href="/python/uuidCookie/">Get a uuidCookie (access the <strong>Python</strong> app)</a></li>
			<li><a href="/python/notifications/">Notifications test</a></li>
		</ul>
		</p>

	</div>
	<!-- /container -->

	<!-- ================================================== -->
	<!-- == JavaScripts -->
	<!-- ================================================== -->

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</body>
</html>
